In [26]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [27]:
df = pd.read_csv("sources/vehicles.csv", nrows=10000,index_col=0)
df.tail()

,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
id,,,,,,,,,,,,,,,,,,,,,
7316825923,https://phoenix.craigslist.org/evl/ctd/d/mesa-...,phoenix,https://phoenix.craigslist.org,15999,2015.0,gmc,acadia sle-1,good,6 cylinders,gas,...,full-size,SUV,red,https://images.craigslist.org/00Y0Y_iukNOte9S5...,2015 GMC Acadia SLE-1 Financing Available!!! 6...,NaN,az,33.415592,-111.657979,2021-05-04T10:48:28-0700
7316825904,https://phoenix.craigslist.org/evl/ctd/d/mesa-...,phoenix,https://phoenix.craigslist.org,6999,2012.0,ford,focus sel hatchback,good,4 cylinders,gas,...,mid-size,hatchback,silver,https://images.craigslist.org/00i0i_kWRkjnGmCZ...,2012 Ford Focus SEL Hatchback Loaded!!! 4 CYL ...,NaN,az,33.415592,-111.657937,2021-05-04T10:48:27-0700
7316825646,https://phoenix.craigslist.org/evl/ctd/d/mesa-...,phoenix,https://phoenix.craigslist.org,24999,2015.0,ram,1500 big horn,good,8 cylinders,gas,...,full-size,pickup,silver,https://images.craigslist.org/00l0l_9KhJhGzJE5...,2015 Ram 1500 Quad Cab Big Horn HEMI!!! 8 CYL ...,NaN,az,33.415592,-111.657915,2021-05-04T10:48:02-0700
7316825626,https://phoenix.craigslist.org/evl/ctd/d/mesa-...,phoenix,https://phoenix.craigslist.org,7999,2011.0,ford,fusion sel,good,4 cylinders,gas,...,full-size,sedan,grey,https://images.craigslist.org/00101_az5R00dbXW...,2011 Ford Fusion SEL Nicely Loaded!!! 4 CYL En...,NaN,az,33.415628,-111.657958,2021-05-04T10:48:00-0700
7316825372,https://phoenix.craigslist.org/evl/ctd/d/mesa-...,phoenix,https://phoenix.craigslist.org,10999,2012.0,chrysler,200 s convertible,like new,6 cylinders,gas,...,mid-size,convertible,white,https://images.craigslist.org/00Y0Y_dm8XwXGMb9...,2012 Chrysler 200 S Hard Top Convertible Nicel...,NaN,az,33.415628,-111.657894,2021-05-04T10:47:36-0700

In [42]:
df = df.dropna(subset=['year'])
df = df.dropna(subset=['odometer'])
df = df.dropna(subset=['model'])
df["year"] = df['year'].astype(int)

In [43]:
CAT_FEATURES = [ "year", "manufacturer", "model",  "condition", "cylinders","fuel","title_status","transmission", "drive", "size", "type", "paint_color"]
NUM_FEATURES = ["odometer"]

y = df["price"]                              

X = df[CAT_FEATURES + NUM_FEATURES]

for col in X[CAT_FEATURES].columns:
    print(f"{df[col].value_counts()}")

year
2017    962
2018    939
2019    846
2016    711
2020    701
       ...
1930      1
1950      1
1922      1
1928      1
2022      1
Name: count, Length: 82, dtype: int64
manufacturer
ford               1696
chevrolet          1506
toyota              735
jeep                510
nissan              446
gmc                 385
honda               380
ram                 375
dodge               374
kia                 275
bmw                 270
subaru              206
mercedes-benz       195
lexus               192
hyundai             187
acura               175
volkswagen          162
cadillac            160
audi                136
chrysler            135
buick               122
infiniti            120
lincoln             104
mazda                95
volvo                72
mitsubishi           55
jaguar               54
mini                 51
rover                40
pontiac              38
alfa-romeo           34
porsche              22
tesla                20
fiat                 18
mercury              18
saturn               14
harley-davidson       5
ferrari               2
Name: count, dtype: int64
model
f-150                   239
silverado 1500          154
silverado               114
1500                     92
charger                  81
                       ...
highlander limited !      1
nitro sxt                 1
malibu eco                1
sedona lx minivan 4d      1
3 s grand touring         1
Name: count, Length: 2432, dtype: int64
condition
good         2899
excellent    1628
like new      561
fair          160
new            37
salvage         8
Name: count, dtype: int64
cylinders
6 cylinders     2512
4 cylinders     2035
8 cylinders     1893
3 cylinders       45
5 cylinders       34
10 cylinders      29
other             28
12 cylinders       3
Name: count, dtype: int64
fuel
gas         8204
other        712
diesel       599
hybrid       102
electric      50
Name: count, dtype: int64
title_status
clean         9267
rebuilt        205
lien            57
salvage         30
missing         14
parts only       3
Name: count, dtype: int64
transmission
automatic    7297
other        1852
manual        552
Name: count, dtype: int64
drive
4wd    3320
fwd    2302
rwd    1340
Name: count, dtype: int64
size
full-size      1440
mid-size        805
compact         271
sub-compact      47
Name: count, dtype: int64
type
SUV            2017
sedan          1930
pickup         1195
truck           875
other           559
coupe           346
hatchback       302
wagon           266
van             183
convertible     144
mini-van        114
bus              31
offroad          30
Name: count, dtype: int64
paint_color
white     2247
black     1437
silver    1218
red        947
blue       757
grey       591
custom     196
green      189
brown      149
yellow      52
orange      44
purple      13
Name: count, dtype: int64

In [44]:
X.tail()

,year,manufacturer,model,condition,cylinders,fuel,title_status,transmission,drive,size,type,paint_color,odometer
id,,,,,,,,,,,,,
7316825923,2015,gmc,acadia sle-1,good,6 cylinders,gas,clean,automatic,fwd,full-size,SUV,red,135000.0
7316825904,2012,ford,focus sel hatchback,good,4 cylinders,gas,clean,automatic,fwd,mid-size,hatchback,silver,153000.0
7316825646,2015,ram,1500 big horn,good,8 cylinders,gas,clean,automatic,rwd,full-size,pickup,silver,107000.0
7316825626,2011,ford,fusion sel,good,4 cylinders,gas,clean,automatic,fwd,full-size,sedan,grey,121000.0
7316825372,2012,chrysler,200 s convertible,like new,6 cylinders,gas,clean,automatic,fwd,mid-size,convertible,white,94000.0

In [45]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9755 entries, 7316814884 to 7316825372
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          9755 non-null   int64
 1   manufacturer  9384 non-null   object
 2   model         9755 non-null   object
 3   condition     5293 non-null   object
 4   cylinders     6579 non-null   object
 5   fuel          9667 non-null   object
 6   title_status  9576 non-null   object
 7   transmission  9701 non-null   object
 8   drive         6962 non-null   object
 9   size          2563 non-null   object
 10  type          7992 non-null   object
 11  paint_color   7840 non-null   object
 12  odometer      9755 non-null   float64
dtypes: float64(1), int64(1), object(11)
memory usage: 1.0+ MB